<html>

<head>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.5/css/bulma.min.css">
  <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
</head>

<body>
  <section class="section">
    <div class="container">
      <div class="columns">
        <div class="column">
          <h1 class="is-size-3">Users</h1>
          <table class="table is-striped is-hoverable is-fullwidth">
            <thead>
              <tr>
                <th>user</th>
                <th>balance pokecoins</th>
                <th>cards</th>
                <th>points</th>
              </tr>
            </thead>
            <tbody>
              <% users.forEach((user) => { %>
              <tr>
                <td><%= user.username %></td>
                <td><%= wallets[user.username].balance %></td>
                <td>
                  <%= wallets[user.username].cards.length %>
                </td>
                <td><%= user.points %></td>
              </tr>
              <% }) %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </section>
</body>

</html>
